@tailwind base;
@tailwind components;
@tailwind utilities;

@layer mantine-core, mantine-datatable;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

.h-inherit {
  height: inherit;
}

.mantine-datatable-table[data-highlight-on-hover] tbody tr:hover {
  @apply bg-alt-blue-4;
}

.mantine-datatable-table[data-striped] tbody tr:nth-of-type(odd) {
  @apply bg-alt-white-2 hover:bg-alt-blue-4;
}

.mantine-Table-th {
  @apply p-4;
}
